

<div class="scroll-tabs">
  <ion-scroll #scrollTab class="scroll-container" scrollX="true">
    <div class="section" *ngFor="let tab of tabs ; let i = index">
        <img  class="tab9-button" [src]="tab.image" (click)="tabChange(tab)"/>
    <!--        
            <button class="tab9-button" [class.three]="tabs.length<=3" [class.selected]="tab.selected" ion-button small clear (click)="tabChange(tab)">
              {{tab.name}}
            </button>
    -->
    </div>
  </ion-scroll>
</div>
